<div class="max-w-lg shadow-1 rounded-lg border-transparent px-4 py-8 md:p-8 fg-inverse bg-inverse mx-auto">
    <div class="text-center md:text-left">
        <div class="font-semibold text-xl">28 February 2021</div>
        <div class="text-lg">10am PST / 13am EST / 6pm GMT / 7pm CET</div>
        <button class="mt-4 py-4 px-8 bg-green-800 text-gray-50 font-medium text-lg rounded-lg border-transparent shadow-1" type="submit" >Submit to CFP</button>
    </div>
</div>