<div class="mt-16 mx-auto container">
    <div>
        <img class="p-8" src="{{ site.image.src }}" alt="{{site.image.alt}}" />
    </div>
    <div class="float-none lg:float-right xl:float-right 2xl:float-right w-auto lg:w-1/2 xl:w-1/2 2xl:w-1/2 mx-4">
        {% include "partials/eventDetails.njk" %}
    </div>
</div>


