<div class="mx-auto container z-30 relative">
    <div class="mt-16">
        <img class="p-8" src="{{ site.image.src }}" alt="{{site.image.alt}}" />
    </div>
</div>

<div class="w-full -mt-28 z-10">
    <div class="hero-clip-top w-full bg-white h-16">

    </div>
    <div class="w-full bg-white h-48">

        <div class="mx-auto container text-center">
            <button class="py-4 px-8 bg-green-800 text-gray-50 font-medium text-lg rounded-lg border-transparent shadow-2xl" type="submit" >Submit to CFP</button>
        </div>
    </div>
    <div class="hero-clip-btm w-full bg-white h-16">

    </div>
</div>
