@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-base {
  background-color: #eeeef0;
}

.fg-base {
  color: #000010;
}

.bg-inverse {
  background-color: #000010;
}

.fg-inverse {
  color: #eeeef0;
}

.shadow-1 {
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}

.default-font {
  font-family: 'avenir next', avenir, sans-serif;
}

.code-font {
  font-family: 'PT Mono', 'Consolas', monaco, monospace;
}

.quote-font {
  font-family: 'Lucida Console', Monaco, monospace;
}

.hero-clip-top {
  -webkit-clip-path: polygon(100% 100%, 100% 0, 100% 0, 0 100%);
  clip-path: polygon(100% 100%, 100% 0, 100% 0, 0 100%);
}

.hero-clip-btm {
  -webkit-clip-path: polygon(100% 0%, 100% 0, 0% 0, 0% 100%);
  clip-path: polygon(100% 0%, 100% 0, 0% 0, 0% 100%);
}

@media (prefers-color-scheme: dark) {
  .bg-base {
    background-color: #000010;
  }

  .fg-base {
    color: #eeeef0;
  }

  .bg-inverse {
    background-color: #eeeef0;
  }

  .fg-inverse {
    color: #000010;
  }
}
