
{% extends "layouts/default.njk" %}

{% set title = "Home" %}

{% block content %} 

<div class="w-full mt-48 z-0 absolute">
    <div class="hero-clip-top w-full bg-inverse h-16">
    </div>
    <div class="w-full bg-inverse h-48">
        
    </div>
    <div class="hero-clip-btm w-full bg-inverse h-16">
    </div>
</div>
<div class="pt-4 pb-8 relative z-30">
    {% include "partials/hero.njk" %}
</div>

{% endblock %}