
{% extends "layouts/default.njk" %}

{% set title = "Home" %}

{% block content %} 

<div class="w-full mt-32 sm:mt-36 md:mt-48 z-0 absolute">
    <div class="hero-clip-top w-full bg-inverse h-16">
    </div>
    <div class="w-full bg-inverse h-36 md:h-48">
        <div class="mx-auto container">
            {% include "partials/eventDetails.njk" %}
        </div>
    </div>
    <div class="hero-clip-btm w-full bg-inverse h-16">
    </div>
</div>
<div class="pt-2 lg:pt-4 pb-4 sm:pb-8 relative z-20">
    {% include "partials/hero.njk" %}
</div>
<div class="container mx-auto z-30 relative">
    <div class="float-none lg:float-right xl:float-right 2xl:float-right mx-4 md:mx-0 mt-40 sm:mt-24 md:mt-24 lg:mt-0 xl:mt-0 2xl:mt-0 ">
        {% include "partials/eventTimeline.njk"%}
    </div>
</div>
<div class="float-none mx-auto container relative z-30 mt-8 md:mt-12 lg:mt-72 xl:mt-72 2xl:mt-72">
    <div class="my-8 mx-4 lg:mx-0">
        {% include "partials/eventSponsors.njk"%}
    </div>
</div>

{% endblock %}